@charset "utf-8";
/* CSS Document */

*{box-sizing:border-box;}
body{
	background-color: #ffffff;
        margin: 0px;
        padding: 0px;
}

#atag{
    font-family: sans-serif;
    font-size: smaller;
    display: block;
}
#btag{
    font-family: sans-serif;
    font-size: smaller;
    display: block;
    padding-bottom: 10px;
}
#divimg{
	position: absolute;
	top: 75px;
	padding: 50px;
}
#search{
	height: 35px;
	width: 450px;
	border: none;
	outline: none;
	background-color: rgba(255,255,255,1);
        padding: 10px;
}
#srcbut{
	height: 35px;
	width:100px;
	color: crimson;
	border: none;
	background-color:rgba(255,255,255,1);
	cursor: pointer;
	outline: none;
}
#srcbut:hover{
	background-color:coral;
        color:darkred;
}

.header{
        position: fixed;
	background-color: crimson;
	overflow: hidden;
	width: 100%;
        z-index: 5;
}
.header .space{
    visibility: hidden;
    cursor: default;
}
.header a{
	display: block;
	text-align: center;
	float: left;
	padding: 14px 16px;
	color: whitesmoke;
	font-size: 25px;
}


.sidenav{
			background-color:rgba(255,255,255,0.90);
                        padding-top:100px;
                        box-sizing:content-box;
			width: 0%;
			height: 100%;
			position: fixed;
			top: 0px;
			left: 0px;
			transition-delay: 0.1s;
			transition-duration: 0.5s;
			z-index: 5;
			overflow-x: hidden;
		}
.atag{
	list-style: none;
	width: 300px;
	text-align: center;
	text-decoration: none;
	font-family: "tenor-sans",sans-serif;
	font-size: 18px;
	color: crimson;
	margin: 15px auto;
	display:block;
}
.atag:not(#atag #btag){
    height: 120px;
}
li{
	list-style: none;
}
.header{
    padding-top:10px;
    padding-bottom: 10px;
}
.header img{
    float: left;
}
.header .search button{
	float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.header .search{
	float:left;
}
.header .login{
	float: right;
	font-size: 19px;
}
.header .register{
	float: right;
	font-size: 19px;
}
.header .search input{
	padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;

}
.header .search input,.header .search button,.header .login,.header.header a{
	float: left;
}
.login{
	text-decoration: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
.register{
	text-decoration: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#signcart{
    padding-top:50px;
}
#signcartimg{
	background-clip:content-box;
        
}
.footer{
    height: auto;
    position: absolute;
    width: 100%;
    top: 5800px;
    z-index: 0;
    background-color: #cccccc;
    color: darkslategray;
}
.ftba{
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color: dimgrey;
}
.ftba:hover{
    color: crimson;
}
.tab2a{
    text-decoration: none;
    color: dimgrey;
}
.tab2a:hover{
    color: crimson;
    zoom: 1.1;
}
.fa-facebook-square:hover,.fa-youtube-square:hover,.fa-instagram:hover,.fa-twitter-square:hover{
zoom: 1.1;
}
.containers{
	width: 90%;
	overflow: hidden;
	background-color:transparent;
/*        float: bottom;*/

        height: auto;
	margin: 20px auto;
	padding: 20px 0px;
        
}
.containers1{
	width: 90%;
	overflow: hidden;
	background-color:transparent;
/*        float: bottom;*/
        position: absolute;
        top:700px;
        left: 80px;
	margin: 20px auto;
	padding: 20px 0px;
        
}
.containers ul{
	padding: 10px;
	margin: 0px;
        
}
.containers ul li{
	list-style: none;
        text-align: center;
	float: left;
	width: 28%;
	background-color: transparent;
	margin: 40px 10px 0px 40px;
        text-align: center;
        height: 280px;
        padding: 10px;
        
	
}
.productname{
	text-align: center;
	font-size: 12px;
        color: crimson;
        font-family: sans-serif;
        text-decoration: none;
}
.price{
    text-align: center;
    font-size: 15px;
    color: crimson;
    font-family: sans-serif;
    
}

.imgph{
    height: auto;
    background-color: transparent;
}
.imgph img{
height: 200px;
    width: 175px;
}
.cartbut{
    font-size: 16px;
    border: none;
    color: #ffffff;
    background-color:lightcoral;
    width: 55%;
    height: 30px;
    outline:  none;
    cursor: pointer
}